
<div class="container">
    <div class="h3" style="text-align:center;width:250px;margin:50px auto;padding:0 10px;">
        <%= link_to 'サインアップ', new_user_registration_path, class:"sign_up btn btn-success" %>
        <%= link_to "ログイン", new_user_session_path, class:"sign_in btn btn-primary" %>
    </div>
</div>